*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}

.container{
    width: 80%;
    margin: 0 auto;
}
.landing-page{
    background: linear-gradient(to bottom right, rgb(200, 226, 201), rgb(255, 255, 255));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    position: relative;
} 
.landing-page .navbar{
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    position: fixed;
    z-index: 6;
    overflow: hidden;
    background-color: rgb(123, 152, 130, 0.842);
}
.landing-page .navbar h2{
    font-size: 30px;
    z-index: 5;
    color: white;
    float: left;
}
.landing-page .navbar h2 span{
    color: rgb(94, 150, 94);
}
.landing-page .navbar ul {
    float: right;
}
.landing-page .navbar ul li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    
}
.landing-page .navbar ul li a{
    text-decoration: none;
    color: white;
}
.landing-page .navbar ul li a:hover{
    border-bottom: 4px solid rgb(94, 150, 94);
    cursor: pointer;
}
.landing-page .header-contant{
    font-size: 20px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}
.landing-page .header-contant .header-details .contant{
    margin-top: 100px;
    text-align: center;
}
.landing-page .header-contant .header-details .contant h2{
    border-bottom: 4px solid rgb(94, 150, 94);
    line-height: 2.1;
    margin-bottom: 20px;
}
.landing-page .header-contant .header-details .contant h3{
    border-bottom: 4px solid rgb(94, 150, 94);
    line-height: 2.1;
    margin-bottom: 20px;
}
.landing-page .header-contant .header-details .contant a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(94, 150, 94);
    border-radius: 20px;
    width: 140px;
    height: 40px;
    background-color: transparent;
    color: rgb(94, 150, 94);
    font-weight: bold;
    font-size: 17px;
    outline: none;
    cursor: pointer;
}

/* Start About Me */

.about-me{
    padding: 90px 0;
}
.about-me .about-contant{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-me .about-contant .about-img{
    width: 370px;
}

.about-me .about-contant .details-about {
    margin-top: 20px;
    width: 60%;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}

.about-me h2 {
    margin-bottom: 30px;
    font-size: 30px;
}
.last-pargraph{
    margin-bottom: 40px;
}
.about-me .about-contant .details-about a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(94, 150, 94);
    border: 1px solid rgb(94, 150, 94);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 140px;
    height: 40px;
    cursor: pointer;
}
/* End about me  */

/* start my skills  */
.my-skills{
    padding: 40px 0;
    background: linear-gradient(to bottom right, rgb(200, 226, 201), rgb(255, 255, 255));
}
.my-skills .flex-box {
    display: flex;
    justify-content: space-between;
}

.my-skills .skills{
    width: 500px;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
}
.my-skills  h2{
    padding: 20px 0;
}
.my-skills .skills a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(94, 150, 94);
    border: 1px solid rgb(94, 150, 94);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 140px;
    height: 40px;
    cursor: pointer;
}
.my-skills .progress {
    width: 50%;
}
.my-skills .progress .tech div{
    background-color: #d5dddf;
    height: 25px;
    width: 400px;
    margin: 10px 0;
    margin-bottom: 25px;
} 
.my-skills .progress .tech div span{
    background-color: rgb(94, 150, 94);
    display: block;
    height: 25px;
    text-align: right;
    font-size: 20px;
}

/* End My skills  */

/* Start portfolio */
.portfolio{
    padding: 40px 0;
    padding-top: 100px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: 30px 30px;
}
.grid-container .grid-item{
    grid-gap: 100px 50px;
    width: 330px;
    height: 330px;
    transition: .5s ease;
}
.portfolio h2{
    padding: 20px 0;
    text-align: center;
    margin-bottom: 30px;
}
.grid-container .grid-item{
    position: relative;
}
.grid-container .grid-item img {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.grid-container .grid-item:hover img{
    opacity: 0.3;
    cursor: pointer;
}

.grid-container .grid-item:hover .middle{
    opacity: 1;
    cursor: pointer;
}
.text {
    padding: 10px;
    background-color: rgb(94, 150, 94);
    border: 1px solid rgb(94, 150, 94);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 140px;
    height: 40px;
    cursor: pointer;
  }
  /* End portfolio */

  /* Start footer */
  /* Start the footer */
footer {
    padding-top: 50px;
    background-color: rgb(56, 77, 85);
  }
  footer .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
  }
  
  footer .team-accounts {
    width: 36%;
    margin-top: 30px;
    margin-left: 20px;
  }
  footer .team-accounts h2 {
    margin-bottom: 30px;
  }
  footer .team-accounts i{
      margin: 10px;
      line-height: 1.8;
      color: white;
  }
  footer .team-accounts a{
      text-decoration: none;
      color: white;
  }
  footer .team-accounts a:hover{
      color: rgb(94, 150, 94);
      cursor: pointer;
  }
  
  footer .contact {
    width: 60%;
    margin-top: 30px;
    margin-left: 20px;
  }
  
  footer .contact form textarea {
    display: block;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    background-color: rgb(179, 185, 187);
  }
  footer .contact form input {
    margin-bottom: 15px;
    margin-top: 30px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    background-color: rgb(179, 185, 187);
  }

  footer .contact .button-style{
    padding: 10px;
    margin-top: 25px;
    background-color: rgb(94, 150, 94);
    border: 1px solid rgb(94, 150, 94);
    border-radius: 20px;
    font-weight: bold;
    color: white;
    width: 140px;
    height: 40px;
    cursor: pointer;
  }

  .copyright {
    text-align: center;
    background-color: rgb(7, 39, 51);
    color: white;
    padding: 15px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 20px;
  }